@model AuctionIt.ViewModels.AuctionItemViewModel

<div class="col-xl-3 col-lg-4 col-sm-6">
    <!-- Post Modern-->
    <div class="post-modern">
        <div class="post-modern-countdown countdown" data-format="HMS" data-until="+@Model.TimeToEnd.TotalSeconds"></div>
        <figure class="post-modern-figure">
            <img src="@Url.Content(AuctionIt.Common.Strings.IMAGES_UPLOAD_PATH+Model.Image)" alt="" width="270" height="108" />
        </figure>
        <div class="post-modern-caption">
            <div class="post-modern-price">Price: @(AuctionIt.Common.Strings.CURRENCY_UNIT + Model.ActualPrice)</div>
            <div class="post-modern-price-value">@Model.HighestBid</div>
            <h5 class="post-modern-link"><a href="@Url.Action("Details", "Auction", Model.Id)">@Model.ItemName</a></h5><a class="button button-box-right button-primary" href="@Url.Action("SubmitBid","Auction", Model.Id)">
                Submit a bid
                <div class="button-box">
                    <div class="button-box-text">X</div>
                    <div class="button-box-count">@Model.NumberOfBids</div>
                </div>
            </a>
        </div>
    </div>
</div>

