@{
    string homeActive = "";
    string auctionsActive = "";
    string accountActive = "";
    string controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    if (controllerName.Contains("Home"))
    {
        homeActive = "active";
    }
    else if (controllerName.Contains("Auctions"))
    {
        auctionsActive = "active";
    }
    else if (controllerName.Contains("Users") || controllerName.Contains("Finance") || controllerName.Contains("Account"))
    {
        accountActive = "active";
    }
    bool isAccountNegative = false;
}
<div class="rd-navbar-main-outer">
    <div class="rd-navbar-main">
        <!--RD Navbar Panel-->
        @Html.Partial("_Logo")
        <div class="rd-navbar-main-element">
            <div class="rd-navbar-nav-wrap">
                <ul class="rd-navbar-nav">
                    <li class="rd-nav-item @homeActive">
                        <a class="rd-nav-link" href="@Url.Action("Index","Home")">Home</a>
                    </li>
                    <li class="rd-nav-item @auctionsActive">
                        <a class="rd-nav-link">Auctions</a>
                        <ul class="rd-menu rd-navbar-dropdown">
                            <li class="rd-dropdown-item">
                                <a class="rd-dropdown-link" href="@Url.Action("Index","Auctions")">Browse</a>
                            </li>
                            <li class="rd-dropdown-item">
                                <a class="rd-dropdown-link" href="@Url.Action("Index", "MyAuctions")">My Auctions</a>
                            </li>
                            <li class="rd-dropdown-item">
                                <a class="rd-dropdown-link" href="@Url.Action("Index", "InterestedAuctoins")">Favorites</a>
                            </li>
                        </ul>
                    </li>
                    <li class="rd-nav-item @accountActive">
                        <a class="rd-nav-link">Account</a>
                        <ul class="rd-menu rd-navbar-dropdown">
                            <li class="rd-dropdown-item">
                                <a class="rd-dropdown-link" href="@Url.Action("AccountStatement","Finance")">
                                    @if (isAccountNegative)
                                    {
                                        <font color="red">@AuctionIt.Common.Strings.CURRENCY_UNIT 0.0</font>
                                    }
                                    else
                                    {
                                        <font color="green">@AuctionIt.Common.Strings.CURRENCY_UNIT 0.0</font>
                                    }
                                </a>
                            </li>
                            <li class="rd-dropdown-item">
                                <a class="rd-dropdown-link" href="@Url.Action("ViewProfile","Account")">Profile</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
