@model AuctionIt.ViewModels.ChangePasswordViewModel

@{
    ViewBag.Title = "Change Password";
}

<section class="section novi-bg novi-bg-img section-md bg-default text-center section-top-shadow">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-7 col-xl-5">
                <h3>@ViewBag.Title</h3>
                @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-black" })
                    <div class="row row-30">
                        <div class="col-md-12">
                            <div class="form-wrap">
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-input form-control-has-validation", data_constraints = "@Required" })

                                @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "form-validation" })
                                @Html.LabelFor(m => m.OldPassword, new { @class = "form-label rd-input-label" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-wrap">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-input form-control-has-validation", data_constraints = "@Required" })

                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "form-validation" })
                                @Html.LabelFor(m => m.Password, new { @class = "form-label rd-input-label" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-wrap">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-input form-control-has-validation", data_constraints = "@Required" })

                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "form-validation" })
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "form-label rd-input-label" })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button class="button button-block button-primary" type="submit">Submit</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

