@model AuctionIt.ViewModels.VerifyCodeViewModel
@{
    ViewBag.Title = "Verify";
}

<section class="section novi-bg novi-bg-img section-md bg-default text-center section-top-shadow">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-7 col-xl-5">
                <h3>@ViewBag.Title</h3>
                @using (Html.BeginForm("VerifyCode", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("provider", @Model.Provider)
                    @Html.Hidden("rememberMe", @Model.RememberMe)
                    @Html.ValidationSummary(true, "", new { @class = "text-black" })
                    <div class="row row-30">
                        <div class="col-md-12">
                            <div class="form-wrap">
                                @Html.TextBoxFor(m => m.Code, new { @class = "form-input form-control-has-validation", type = "text", @data_constraints = "@Required" })

                                @Html.ValidationMessageFor(m => m.Code, "", new { @class = "form-validation" })
                                @Html.LabelFor(m => m.Code, new { @class = "form-label rd-input-label" })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberBrowser)
                                @Html.LabelFor(m => m.RememberBrowser)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button class="button button-block button-primary" type="submit">Verify</button>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
