@model AuctionIt.ViewModels.AuctionsViewModels.AuctionDetailsViewModel

@{
    ViewBag.Title = "Details";
}
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            @Html.Partial("_Title", Model.Title)
        </div>
        <div class="col-4">
            <h4 class="countdown" data-format="HMS" data-until="+@Model.RemainingTime.TotalSeconds"></h4>
            <h4 class="text-left text-sm-left">
                <span class="h2-style"><span class="icon mdi mdi-watch"></span> to End</span>
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            @Html.Partial("_ProductDetails", Model.ProductDetails)
        </div>
        <div class="col-md-4">
            <div class="container">
                <div class="row">
                    @if (User.IsInRole("Franchise Manager"))
                    {
                        @Html.Partial("_VerifyAdForm", Model.VerifyForm)
                    }
                    else
                    {
                        @Html.Partial("_CurrentAuctionPriceSection", Model.Price)
                    }
                    <div class="col-md-12">
                        @Html.Partial("_PostedBy", Model.PostedBy)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        //function for the animation of the fav button
        $(document).ready(function () {
            $(".fa-heart-o").mouseover(function () {
                $("#fav").removeClass("fa-heart-o");
                $("#fav").addClass("fa-heart");
            });
            $(".fa-heart-o").mouseout(function () {
                $("#fav").removeClass("fa-heart");
                $("#fav").addClass("fa-heart-o");
            });
            $(".fa-heart").mouseover(function () {
                $("#fav").removeClass("fa-heart");
                $("#fav").addClass("fa-heart-o");
            });
            $(".fa-heart").mouseout(function () {
                $("#fav").removeClass("fa-heart-o");
                $("#fav").addClass("fa-heart");
            });
        });
    </script>
}